.flyaway {
  text-align: center;
  color: #FFC90D;
  margin: 20px;
  font-size: 50px;
  display: inline-block;
}
.add-title {
  padding: 40px 0 30px 0;
  text-align: center;
  color:#FFC90D;
  font-size: 18px;
}
.img {
  height: 40px;
}
.top-flyaway-logo {
  text-align: center;
}
.australia {
  color: #FFC90D;
  font-size: 25px;
}